footer {
    background-color: #333;;
    text-align: center;
    border-radius: 5px 5px 0px 0px;;
  }
  
  footer  h2 {
    color: white;
    padding: 10px;
    font-size: 2rem;
  }
  
  
  .link-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  }
  
  a {
    cursor: pointer;
    text-decoration: none;
    padding: 2px 1px 0;
    margin: 10px;
    color: white;
  }
  
  a:hover {
  text-decoration: underline;
  
    }