.gallery-title {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.gallery-section {
    width: auto;
    border-radius: 25px;
    margin: auto;
    display: block;
}
    
.gallery-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 0;
    padding: 30px 20px;
    }

.gallery-item {
    list-style-type: none;
    margin: 20px;
    border-radius: 10px;
    display: flex;
    align-items: flex-end;
}


.gallery-item-title {
    display: none; 
    opacity: 0; /* Ajoutez cette ligne pour cacher le titre par défaut */
    transition: opacity 0.5s ease;
  }
  
  .gallery-item-title.show {
    display: block;
    position: absolute;
    color: white;
    z-index: 100;
    width: 350px;
    height: 350px;
    padding-left: 30px;
font-size: 2em;
font-weight: bold;
opacity: 1; /* Ajoutez cette ligne pour afficher le titre */
transition: opacity 0.5s ease;
  }

.gallery-item-image {
    width: 390px;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    transition: opacity 0.3s ease;
}
.gallery-item-image.hovered {
  opacity: 0.2;
}



@media (max-width: 375px) {
  }
  