section {
    display: flex;
    justify-content: space-between;
  }
  
  nav {
    display: flex;
    padding: 10px;
  }
  nav a {
    color: #f1f1f1;
    font-size: 1.2rem;
  }
  
  header {
    position: sticky;
    top: 0;
    background: rgb(25 27 31 / 34%);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    z-index: 100;
  }