@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap|Schibsted+Grotesk&display=swap');

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
 }
 

.modal-open {
  padding-right: 0px !important;
}
.joke {
  display: flex;
  justify-content: center;
}

body {
  width: 1350px;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
  background-color: rgb(25,27,31);
  padding-right: 0px;
}

h1 {
  font-family: 'Schibsted Grotesk';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 4rem;
  color: #f1f1f1;
  justify-content: center;
  margin: 20px;
}

h2 {
  color: hwb(167 1% 81%);
  font-size: 1.7rem;
  color: rgb(25,27,31);
}

h3 {
 padding-top: 10px;
 font-size: 1.3rem;
}

h4 {
  text-align: center;
  justify-items: center;
  font-size: 1.5rem;
}


ul {
  margin-left: 10%;
  line-height: 25px;
}

i {
  color: #e6e9e9;
}



/* ------------------------------------------ */

main{
  display: flex;
  flex-direction: column;
}

article {
  margin: 50px 0;
  display: flex;
  flex-direction: row-reverse;
  background: #f1f1f12e;
  border-radius: 10px;
  padding: 70px 30px;
}

/* --------------------- DESCRIPTION PROJECT ------------------- */
.project {
  display: flex;
}
.description-project {
  position: relative;
  color: #f1f1f1;
}

/* ---------------------------- skills ---------------------------- */
#technos {
  display: flex;
  flex-wrap: wrap;
}

#techno {
width: 300px;
  display: flex;
}

#psycho{
  width: 300px;
  display: flex;
}

/* ***************Responsive*************** */
@media screen and (max-width: 768px) {
  /* article {
    flex-direction: column;
  } */
  body {
    padding: 40px ;
  }

  .modal-backdrop {
    width: 100%;
    height: 100%;
  }

  .modal-dialog {
    margin: 23%;
  }
}


@media screen and (max-width: 320px){
  body {
    padding: 15px ;
    max-width: 530px;
  }

  .modal-backdrop {
    width: 100%;
    height: 100%;
  }

  .modal-dialog {
    right: 100px;
    top: 900px;
  }

  #technos {
    display: flex;
    flex-wrap: wrap;
  }

  #techno {
    width: 250px;
    display: flex;
  }
  
  #psycho{
    width: 500px;
    display: flex;
  }
}


